/* 
Philippine Translator Scripts Stylesheet

01 Variables
02 Fonts
03 Desktop Styles
04 Mobile Styles 
*/

/* 01 Variables */
:root {
  --border-radius: 10px;
  --main-color: #22735f;
  --accent-color: #15cda1;
  --plain-text-color: #20114a;
  --gray-light: #f5f5f5;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  --font-size-desktop: 2em;
  --font-size-mobile:1.5em;
  --font-size-buttons-mobile: 1.25em;

}
/* ************************************************************************************************** */
/* 02 Fonts */
@font-face {
  font-family: Ubuntu Bold;
  src: url(/assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu Medium;
  src: url(/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: Ubuntu Regular;
  src: url(/assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Baybayin;
  src: url(/assets/fonts/Baybayin/BaybayinNamin2020-4.otf);
}
/* ************************************************************************************************** */

/* 03 Desktop Styles */

/* Text Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu Regular;
  color: var(--main-color);
  margin: 0;
}

p {
  font-family: Ubuntu Regular;
  color: var(--plain-text-color);
}

/* Container Styles */
body {
  margin: 0px;
}

.translator-main-switch,
.header {
  display: flex;
  height: 15vh;
  align-items: center;
}
.translator-main-switch-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 55vw;

}
.header {
  justify-content: flex-start;
  padding: 0 20px;
  box-shadow: var(--box-shadow);
}

.flex-row {
  display: flex;
  flex-direction: column;
}

.translator-main-blocks {
  width: 100vw;

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tagalog"; */
  display: flex;
}

.translator-main-blocks div {
  flex: 50%;
  flex-wrap: wrap;
  padding: 20px;
}

.flex-jcc {
  display: flex;
  justify-content: center;
}

.border-bottom {
  border-bottom: solid;
  border-color: var(--gray-light);
}

.border-right {
  border-right: solid;
  border-color: var(--gray-light);
}

textarea,
button {
  border: none;
  outline: none;
}

button {
  /* background: none; */
border-radius: 20px;
padding: 10px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  resize: none;
  font-size: 2em;
  color: var(--plain-text-color);
  font-size: var(--font-size-desktop);
  line-height: 1.5em;
}

.translator-main-blocks-translated {
  background-color: var(--gray-light);
}
.translator-main-blocks-translated > * {
  background-color: var(--gray-light);
}

.translator-main-blocks button {
  /* font-size: var(--font-size-mobile); */
  font-family: Ubuntu Bold;
  color: var(--main-color);

}
#translatedTextArea {
  font-family: Baybayin;
}

/* ************************************************************************************************** */

/* 04 Mobile Styles */

@media screen and (max-width: 728px) {

  h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:1em;
}
  .header {
    height: 10vh;
    order: 1;
  }

  .translator-main {
    order:2;
  }

  .switch  {
order: 3;
  }


  .translator-main-switch {
    height: 10vh;
  }
  .translator-main-switch-content {
    width: 80vw;
    /* height: 10vh; */
  }
  textarea {
    font-size: var(--font-size-mobile);
    height  : 80%;
    padding: 10px;
  }

  .translator-main {
    height: 80vh;

  }

  .translator-main-blocks {
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
  }
  .translator-main-blocks-translated, .translator-main-blocks-raw {
flex: 0 0 40vh;  }
  .translator-main-blocks > * {
    border: none;
  }
  .translator-main-blocks-translated {
    background-color: var(--main-color);
  }
  .translator-main-blocks button {
    font-size: var(--font-size-buttons-mobile);
    font-family: Ubuntu Bold;
    color: var(--main-color);

  }
  .translator-main-blocks-translated > *,
  .translator-main-blocks-translated button {
    background-color: var(--main-color);
    color: white;
  }

 
}
